# Developer local files
.local/

# macOS system files
.DS_Store

# Common IDE (PyCharm, VSCode, etc.) configuration files
.idea/
.vscode/

# Python cache files (bytecode, compiled files, etc.)
__pycache__/

# data files
/data/
